.bundle
db/*.sqlite3
log/*.log
tmp/**/*
Gemfile.lock
nbproject/*
Thumbs.db
doc/guides
doc/app
tmp/*
public/*/all.css
.yardoc
*.log
*.pid
.eprj
.tmtags
*~
.DS_Store
*.swp
*.swo
target
*.tmproj
.#*
.idea
*.pyc
*.rbc
rerun.txt
._*
.rvmrc
.sass-cache
doc/
*.tgz
Gemfile.lock
tags
assets/
coverage/